/* Color Palette: 
#0a1620
#13293D
#006494
#247BA0
#1B98E0
#E8F1F2
*/

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-family: sans-serif;
}

.main {
    background-color: #13293D;
    color: #E8F1F2;
}

header {
    margin: 10px auto;
}

/* Section  */

.section {
    display: table-cell;
    height: 250px;
    width: 450px;
    background-color: black;
    /*background-image: url("../images/test.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 200px;*/
    vertical-align: middle;
}

.section-link {
    display: inline-block;
    margin: 10px;
    color: #E8F1F2;
    text-decoration: none;
}

/* Footer */

footer {
    /* display: none; */
    background-color: #0a1620;
    width: 100%;
    position: fixed;
    bottom: 0;
}

footer .list {
    padding: 10px;
}

footer .list .personal-info {
    /* border-bottom: 1px solid #E8F1F2; */
    width: 25%;
    margin: 0 auto 5px;
    overflow-x: auto;
}

/* footer table {
    margin: 0 auto;
    padding: 10px;
}

footer table .data-type {
    padding: 2px;
    text-align: right;
    font-weight: bold;
}

footer table .data {
    padding: 2px;
    text-align: left;
} */