/* Color Palette: 
#0a1620
#13293D
#006494
#247BA0
#1B98E0
#E8F1F2
*/

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-family: sans-serif;
}

.main {
    background-color: #13293D;
    color: #E8F1F2;
}

header {
    margin: 10px auto;
}

/* Section  */

.sections {
    margin-bottom: 30vh;
}

.section {
    display: table-cell;
    height: 250px;
    width: 450px;
    background-color: black;
    vertical-align: middle;
    border-radius: 20px;
}

.section:hover {
    transition: .5s;
    background-color: rgb(29, 29, 29);
}

.section:active {
    transition: 5ms;
    background-color: rgb(40, 40, 40);
}

/* Section/link */

.section-link {
    display: inline-block;
    margin: 10px;
    color: #E8F1F2;
    text-decoration: none;
}


/* Footer */

footer {
    /* display: none; */
    background-color: #0a1620;
    width: 100%;
    position: fixed;
    bottom: 0;
}

footer .list {
    padding: 10px;
}

footer .list .personal-info {
    display: inline;
    list-style: none;
    margin: 10px 0;
    padding: 0 25px;
}

/* Display size based styles */

/* Footer */
@media (min-width: 1080px) {
    footer .list .personal-info {
        border-left: 2px solid #E8F1F2;
    }

    footer .list #personal-info1{
        border-left: none;
    }
}